footer.footer
	svg.svg1(xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none")
		polygon(fill="#edf3f6" points="0,0 200,0 100,50")
	a.arrow-top-wrapper(href="#")
		svg.arrow-top(xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 14.94 14.04")
			g
				path(fill="#00497B" d="M6.63 14.04l0 -11.37 -5.28 5.31c-0.22,0.22 -0.58,0.22 -0.79,0l-0.4 -0.4c-0.21,-0.21 -0.21,-0.57 0,-0.79l6.62 -6.62 0.01 -0.01 0.01 0 0 0c0.1,-0.1 0.24,-0.16 0.39,-0.16l0.56 0c0.15,0 0.29,0.06 0.39,0.16l0 0 6.63 6.63c0.22,0.22 0.22,0.58 0,0.79l-0.39 0.4c-0.22,0.22 -0.58,0.22 -0.79,0l-5.29 -5.31 0 11.37 -1.67 0z")
		div.btn-fill-container
	div.container-fluid.px-7.mt-lg-5.mt-2
		div.row.mt-5.py-5.justify-content-md-center
			div.col-lg-2.offset-lg-0.col-6.offset-3.mb-lg-0.mb-5
				img(src="images/core/trion_logo_white.svg")
			div.col-lg-3.offset-lg-1.col-6
				ul.footer-menu
					li(class=(name === "01_research" ? "footer-menu__li active" : "footer-menu__li"))
						a.footer-menu__li_a(href="#") Служба исследований и разработок
						ul
							li.footer-menu__li_li
								a(href="#") Разработка изделий
							li.footer-menu__li_li
								a(href="#") Группы разработок
					li(class=(name === "02_production" ? "footer-menu__li active" : "footer-menu__li"))
						a.footer-menu__li_a(href="#") Производство
						ul
							li.footer-menu__li_li
								a(href="production_ru.html") Производство РФ
							li.footer-menu__li_li
								a(href="production_cn.html") Производство КНР
					li(class=(name === "03_quality" ? "footer-menu__li active" : "footer-menu__li"))
						a.footer-menu__li_a(href="#") Служба качества
						ul
							li.footer-menu__li_li
								a(href="quality.html") Отдел контроля качества
							li.footer-menu__li_li
								a(href="quality.html#quality_02") Управление качеством
							li.footer-menu__li_li
								a(href="quality.html#quality_03") Гарантия и рекламации    
			div.col-md-3.col-6
				ul.footer-menu
					li(class=(name === "04_storage" ? "footer-menu__li active" : "footer-menu__li"))
							a.footer-menu__li_a(href="#") Склад готовой продукции
							ul
								li.footer-menu__li_li
									a(href="storage.html") Условия отгрузки
								li.footer-menu__li_li
									a(href="storage_02.html") Условия хранения
								li.footer-menu__li_li
									a(href="storage_03.html") Адрес склада
					li(class=(name === "05_faq" ? "footer-menu__li active" : "footer-menu__li"))
						a.footer-menu__li_a(href="faq.html") База знаний
					li(class=(name === "06_career" ? "footer-menu__li active" : "footer-menu__li"))
						a.footer-menu__li_a(href="https://about.trion-led.ru/career/") Карьера
					li(class=(name === "07_contacts" ? "footer-menu__li active" : "footer-menu__li"))
						a.footer-menu__li_a(href="contacts.html") Контакты

			div.col-md-3.col-12.text-lg-end.text-center
				div.d-flex.flex-column
					a.color-white(href="tel:+74955604857") +7 (495) 560-48-57
					a.color-white(href="mail:moscow@trion-led.ru") moscow@trion-led.ru
				div.social.pt-5
					a(href="https://vk.com/trion_led")
						img(src="images/social/vk.svg")
					a(href="https://rutube.ru/channel/28248528/")
						img(src="images/social/rutube.svg")
					a(href="https://t.me/@trion_led")
						img(src="images/social/telegram.svg")
					a(href="https://dzen.ru/trion_led")
						img(src="images/social/dzen.svg")
	div.footer-bottom
		div.container-fluid.px-7
			div.row.py-5
				div.col-6
					a.color-white.small(href="#") Политика обработки персональных данных
				div.col-6.text-end.color-white.small ТРИОН © 2011-2024