- var pageTitle = 'О компании Трион'
meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
meta( name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="HandheldFriendly" content="true")

title= pageTitle
meta(name="description", content="")

link(rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="fonts/Montserrat-Regular.woff2")
link(rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="fonts/Montserrat-Bold.woff2")
link(rel="stylesheet" href="fonts/fonts.css")
link(rel="stylesheet" href="fonts/fontello.css")

link(rel="stylesheet" href="css/bootstrap5.min.css")
link(rel="stylesheet" href="css/owl.carousel.css")
link(rel="stylesheet" href="css/animation.css")
link(rel="stylesheet" href="style.css")

link(rel="apple-touch-icon" sizes="180x180" href="images/ico/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="images/ico/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="images/ico/favicon-16x16.png")
link(rel="manifest" href="images/ico/site.webmanifest")
link(rel="mask-icon" href="images/ico/safari-pinned-tab.svg" color="#5bbad5")
link(rel="shortcut icon" href="images/ico/favicon.ico")
meta(name="msapplication-TileColor" content="#da532c")
meta(name="msapplication-config" content="icons/browserconfig.xml")
meta(name="theme-color" content="#edf3f6")