header.header
    div.h-100.container-fluid.px-7
        div.h-100.row
            div.col-lg-12.d-flex.align-items-center.justify-content-lg-end.justify-content-center.pb-lg-0.pb-3
                a.small.me-lg-4.me-1(href="https://trion-led.ru")
                    i.icon-home-outline.me-lg-1.me-0 
                    | trion-led.ru
                a.small.me-lg-4.me-1(href="tel:+74955604857")
                    i.icon-mobile.me-lg-1.me-0
                    | +7 (495) 560-48-57
                a.small(href="mail:moscow@trion-led.ru")
                    i.icon-mail.me-lg-1.me-0 
                    | moscow@trion-led.ru
            div.d-lg-none.d-md-block.col-md-3.col-3
                div.header__menuToggle
                    i.icon-menu
            div.col-lg-2.col-8.d-flex.align-items-center
                a(href="/" title="Главная")
                    img(src="images/core/trion_logo.svg")
            div.col-lg-8.col-6.d-none.d-md-none.d-lg-block
                ul.header-menu
                    li(class=(name === "01_research" ? "header-menu__li hassubmenu active" : "header-menu__li hassubmenu"))
                        a.header-menu__li_a(href="#") Служба исследований и разработок
                            svg(viewBox="0 0 8 5" xmlns="http://www.w3.org/2000/svg" class="header-menu__item__arrow")
                                path(d="M1.5 1.5L4 4L7 1.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        div.header-menu__submenu__wrapper
                            .div.header-menu__submenu__background
                            ul.header-menu__submenu
                                li.header-menu__submenu__item
                                    a(href="#")
                                        span Разработка изделий
                                li.header-menu__submenu__item
                                    a(href="#")
                                        span Группы разработок
                    li(class=(name === "02_production" ? "header-menu__li hassubmenu active" : "header-menu__li hassubmenu"))
                        a.header-menu__li_a(href="#") Производство
                            svg(viewBox="0 0 8 5" xmlns="http://www.w3.org/2000/svg" class="header-menu__item__arrow")
                                path(d="M1.5 1.5L4 4L7 1.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        div.header-menu__submenu__wrapper
                            .div.header-menu__submenu__background
                            ul.header-menu__submenu
                                li(class=(razdel === "02_production_ru" ? "header-menu__submenu__item active" : "header-menu__submenu__item"))
                                    a(href="production_ru.html")
                                        span Производство РФ
                                li(class=(razdel === "02_production_cn" ? "header-menu__submenu__item active" : "header-menu__submenu__item"))
                                    a(href="production_cn.html") 
                                        span Производство КНР
                    li(class=(name === "03_quality" ? "header-menu__li hassubmenu active" : "header-menu__li hassubmenu"))
                        a.header-menu__li_a(href="#") Служба качества
                            svg(viewBox="0 0 8 5" xmlns="http://www.w3.org/2000/svg" class="header-menu__item__arrow")
                                path(d="M1.5 1.5L4 4L7 1.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        div.header-menu__submenu__wrapper
                            .div.header-menu__submenu__background
                            ul.header-menu__submenu
                                li.header-menu__submenu__item
                                    a(href="quality.html")
                                        span Отдел технического контроля
                                li.header-menu__submenu__item
                                    a(href="quality.html#quality_02")
                                        span Управление качеством
                                li.header-menu__submenu__item
                                    a(href="quality.html#quality_03")
                                        span Гарантия и рекламации                                        
                    li(class=(name === "04_storage" ? "header-menu__li hassubmenu active" : "header-menu__li hassubmenu"))
                        a.header-menu__li_a(href="#") Склад готовой продукции
                            svg(viewBox="0 0 8 5" xmlns="http://www.w3.org/2000/svg" class="header-menu__item__arrow")
                                path(d="M1.5 1.5L4 4L7 1.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        div.header-menu__submenu__wrapper
                            .div.header-menu__submenu__background
                            ul.header-menu__submenu
                                li.header-menu__submenu__item
                                    a(href="storage.html")
                                        span Условия отгрузки
                                li.header-menu__submenu__item
                                    a(href="storage.html#storage_02")
                                        span Условия хранения
                                li.header-menu__submenu__item
                                    a(href="storage.html#storage_03")
                                        span Адрес склада
                    li(class=(name === "05_faq" ? "header-menu__li active" : "header-menu__li"))
                        a.header-menu__li_a(href="faq.html") База знаний
                    li(class=(name === "06_career" ? "header-menu__li active" : "header-menu__li"))
                        a.header-menu__li_a(href="https://about.trion-led.ru/career/") Карьера
                    li(class=(name === "07_contacts" ? "header-menu__li active" : "header-menu__li"))
                        a.header-menu__li_a(href="contacts.html") Контакты
   
            div.col-lg-2.col-6.d-none.d-md-none.d-lg-flex.flex-column.justify-content-center.align-items-end
                div.btn-o
                    span.btn-text Задать вопрос
                    div.btn-fill-container