- var name = '07_contacts'
doctype html
html(lang="ru")
	head
		include modules/head
	body.body
		include modules/header
		main.content
			section.section
			div.container-fluid.px-7
				div.row.py-xl-5.py-2
					div.col-12
						h1 Контакты
					
					div.col-lg-12.col-12.py-3
						
						div.row.foto-grid
							div.col-lg-3.col-md-6.col-12.foto-grid-col.p-5
								img(src="images/personal/Тришина.webp")
								.title-5.mt-4.bold Татьяна <br>Тришина
								p.my-3 управляющий <br>партнёр
								a(href="mailto:vtv@trion-led.ru") vtv@trion-led.ru

							div.col-lg-3.col-md-6.col-12.foto-grid-col.p-5
								img(src="images/personal/Швец.webp")
								.title-5.mt-4.bold Алексей<br> Швец
								p.my-3 технический <br>директор
								a(href="mailto:ashvets@trion-led.ru") ashvets@trion-led.ru

							div.col-lg-3.col-md-6.col-12.foto-grid-col.p-5
								img(src="images/personal/Лобановский.webp")
								.title-5.mt-4.bold  Алексей<br> Лобановский
								p.my-3 руководитель отдела технического продвижения
								a(href="mailto:alobanovsky@trion-led.ru") alobanovsky@trion-led.ru						

							div.col-lg-3.col-md-6.col-12.foto-grid-col.p-5
								img(src="images/personal/Иванилов.webp")
								.title-5.mt-4.bold  Денис<br> Иванилов
								p.my-3 руководитель службы исследований и разработок
								a(href="mailto:alobanovsky@trion-led.ru") divanilov@trion-led.ru

							div.col-lg-3.col-md-6.col-12.foto-grid-col.p-5
								.title-5.mt-4.bold Е???<br>Баринов
								p.my-3 начальник производства <br>в Российской Федерации
								a(href="mailto:vtv@trion-led.ru") ???@trion-led.ru

							div.col-lg-3.col-md-6.col-12.foto-grid-col.p-5
								.title-5.mt-4.bold  В???<br> Бортников
								p.my-3 руководитель отдела <br> технического контроля
								a(href="mailto:alobanovsky@trion-led.ru") ???@trion-led.ru		

							div.col-lg-3.col-md-6.col-12.foto-grid-col.p-5
								.title-5.mt-4.bold С???<br>Филимонов
								p.my-3 начальник <br> опытного участка
								a(href="mailto:ashvets@trion-led.ru") ???@trion-led.ru

							div.col-lg-3.col-md-6.col-12.foto-grid-col.p-5
								.title-5.mt-4.bold  А???<br> Черепов
								p.my-3 начальник <br> склада
								a(href="mailto:alobanovsky@trion-led.ru") ???@trion-led.ru
						div.row.my-5
							h3 Хотите присоединиться к нашей команде?
							p На странице 
								a(href="https://about.trion-led.ru/career/") «Карьера» 
								| вы найдёте доступные предложения работы в нашей компании

	include modules/footer
	include modules/sidebar
	include modules/scripts