- var name = '02_production'
- var razdel = '02_production_cn'
doctype html
html(lang="ru")
	head
		include modules/head
	body.body
		include modules/header
		main.content
			section.section
			div.container-fluid.px-7
				div.row.py-xl-5.py-2
					div.col-12
						h1 Производство КНР
					
					div.col-lg-12.col-12.py-3
						p Производство в городе Шэньчжэнь (КНР) включает в себя участки:
						p Этот раздел можем пока скрыть

	include modules/footer
	include modules/sidebar
	include modules/scripts