- var name = '03_quality'
doctype html
html(lang="ru")
	head
		include modules/head
	body.body
		include modules/header
		main.content
			section.section
			div.container-fluid.px-7
				div.row.py-xl-5.py-2
					div.col-12
						h1 Служба качества
					div.col-lg-3.py-3.d-none.d-lg-block
						ul.left-menu
							li.left-menu__li 
								a.left-menu__a.active(href="#quality_01") Отдел технического контроля
							li.left-menu__li 
								a.left-menu__a(href="#quality_02") Технический контроль 
							li.left-menu__li
								a.left-menu__a(href="#quality_03") Работа с рекламациями
					div.col-lg-9.col-12.py-3
						
						div.inner-section(id="quality_01")
							div.position-relative
								div.plate.plate-left
									div.indicators
										div.row
											div.col-lg.col-12.indicators-cards
												div.indicators__numbers 140м<sup>2</sup>+
												div.indicators__text помещений службы качества
											div.col-lg.col-12.indicators-cards
												div.indicators__numbers 50+
												div.indicators__text единиц средств измерений, оснастки, приборов 
											div.col-lg.col-12.indicators-cards
												div.indicators__numbers 10+
												div.indicators__text единиц сложного испытательного оборудования
											div.col-lg.col-12.indicators-cards
												div.indicators__numbers 10+
												div.indicators__text лет накопленного опыта по управлению качеством
								img.d-none.d-lg-block(src="images/otk_4.webp" style="width:50%;float:right;margin:-210px 0px 10px 10px;")
								h3.mt-5.pt-lg-5 Отдел технического контроля 
								p.title-4.my-lg-5.my-2 Для общего управления качеством выпускаемой продукции, осуществления входного контроля комплектующих и материалов, контроля качества готовой продукции и ее испытаний в производственной структуре компании работает отдел технического контроля.
								.img-border-wrapper
									img(src="images/otk_5.webp" alt="Сотрудники ОТК")
								div.px-lg-5.px-2.py-3
									p Один из основных ресурсов любого предприятия, особенно производственного – это люди, работающие на нём.
									p Постоянный штат ОТК «Трион» укомплектован высококвалифицированными, вовлеченными в свою работу специалистами, которые всегда готов к решению сложных задач. 
									p Сотрудники регулярно проходят обучение и готовы делиться знаниями и опытом с нашими партнерами.

								.row.my-lg-5.my-0
									.col-lg-6.col-12
										.img-border-wrapper
											img(src="images/otk_8.webp")
									.col-lg-6.col-12.d-flex.flex-column.justify-content-center.p-lg-5.p-2
										h4 Испытательное оборудование
										p Особая гордость ОТК – наличие сложного современного испытательного оборудования.
										p На сегодняшний день отдел оборудован всеми требуемыми средствами измерений, оснасткой, различными специализированными приборами.

								.row.my-lg-5.my-0
									.col-lg-6.col-12.d-flex.flex-column.justify-content-center.p-lg-5.p-2.order-lg-1.order-2
										h4 Обеспечение единства измерений
										p Для исполнения требований федерального закона РФ «Об обеспечении единства измерений» в компании организована работа по периодической аттестации испытательного оборудования и поверке средств измерений.
									.col-lg-6.col-12.order-lg-2.order-1
										.img-border-wrapper
											img(src="images/otk_6.webp")

								.row.my-lg-5.my-0
									.col-lg-6.col-12
										.img-border-wrapper
											img(src="images/otk_7.webp")
									.col-lg-6.col-12.d-flex.flex-column.justify-content-center.p-lg-5.p-2
										h4 Соответствие ГОСТ
										p В компании «Трион» внедрена поэтапная система разработки и постановки новых изделий на серийное производство в полном соответствии с ГОСТ Р 15.301.

								.row.mt-5
									.col-12
										h3 Мы с уверенностью смотрим в будущее
										div.owl-carousel.slider-quality
											div
												img(src="images/slider/slide_4.webp")
											div
												img(src="images/slider/slide_5.webp")
											div
												img(src="images/slider/slide_6.webp")
											div
												img(src="images/slider/slide_7.webp")
											div
												img(src="images/slider/slide_8.webp")
											div
												img(src="images/slider/slide_9.webp")
											div
												img(src="images/slider/slide_10.webp")
											div
												img(src="images/slider/slide_11.webp")

						div.inner-section.pb-lg-5.pb-2(id="quality_02")
							.row
								.col-12
									p Для повышения качества выпускаемых изделий, а также для расширения продуктовой номенклатуры, компания «Трион» постоянно инвестирует в проектирование и изготовление необходимых технологических стендов, различной оснастки и приспособлений, в том числе с разработкой прикладного программного обеспечения.
									.video-player.mt-5
										iframe(style="width:100%;height:100%;" src="https://rutube.ru/play/embed/eb3f0d34fb3405ea51ff80bd02722683" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen)

							.row.mt-5
								.col-lg-6.col-12.d-lg-block.d-none
									img(src="images/otk_3.webp")
								.col-lg-6.col-12
									h3.my-3 Технический контроль продукции и комплектующих. Предпродажная подготовка продукции.
									div.d-block.d-lg-none.mb-3
										img(src="images/otk_3.webp")
									p Технический контроль продукции и комплектующих:
										ul 
											li входной контроль комплектующих;
											li межоперационный контроль продукции;
											li выходной контроль и приемо-сдаточный контроль продукции.


						div.inner-section.py-lg-5.py-2(id="quality_03")
							.row 
								.col-lg-6.col-12
									h3.my-3 Работа с рекламациями
									p На участке по работе с рекламациями происходит оперативный анализ претензий по качеству продукции направленных в адрес компании с последующей отправкой заключений клиентам. 
									div.d-block.d-lg-none
										img(src="images/otk_1.webp")
									p При необходимости, проводится выездная экспертиза на объектах клиентов, где установлены и эксплуатируются наши изделия в составе светодиодных светильников.
									p На основе статистики отказов по рекламациям клиентов внедряются изменения в производственные процессы, конструкцию изделий, закупку комплектующих.
									p Примеры решений проблем клиентов за счет увеличения функционала источников питания:
										ul 
											li добавление защиты от превышения по входному напряжению;
											li добавление защиты от короткого замыкания;
											li добавление защиты от перегрева.
								.col-lg-6.col-12.d-none.d-lg-block
									
									img(src="images/otk_2.webp")
	
	include modules/footer
	include modules/sidebar
	include modules/scripts
