- var name = '04_storage'
- var razdel = '04_storage_01'
doctype html
html(lang="ru")
	head
		include modules/head
	body.body
		include modules/header
		main.content
			section.section
			div.container-fluid.px-7
				div.row.py-xl-5.py-2
					div.col-12
						h1 Склад готовой продукции
					div.col-lg-3.py-3.d-none.d-lg-block
						ul.left-menu
							li.left-menu__li 
								a.left-menu__a.active(href="#storage_01") Требования к хранению и транспортировке
							li.left-menu__li 
								a.left-menu__a(href="#storage_02") Условия отгрузки
							li.left-menu__li 
								a.left-menu__a(href="#storage_03") Адрес и схема проезда
					div.col-lg-9.col-12.py-3
						
						div.inner-section(id="storage_01")
							div.position-relative
								div.plate.plate-left

									p Современный тёплый складской комплекс
									p Всегда большой запас серийных изделий
									p Хранение в соответствии с техническими условиями
								img(src="images/sklad.webp" style="width:50%;float:right;margin:-250px 0px 10px 10px;")
								h4.mt-3 Правила транспортирования и хранения светодиодных модулей и линеек, светодиодов, оптики	
								ul 
									li Хранение должно производиться в упаковке при температуре +10 … +35 °С.. и относительной влажности не более 50%. вдали от прямых солнечных лучей
									li Хранение должно производится в защищённом от воздействия прямых солнечных лучей помещении в атмосфере без химически активных веществ
									li Хранение в соответствии с техническими условиями

								h4.mt-3 Правила транспортирования и хранения источников питания и элементов управления СУО «Аврора»
								ul 
									li Транспортирование изделия должно производиться в упаковке изготовителя автомобильным, воздушным, водным или железнодорожным транспортом по правилам перевозок грузов, действующим на транспорте данного вида, без ограничения дальности, количества перегрузок, скорости и высоты полета. Рекомендуемые условия транспортирования изделий должны соответствовать группе С по ГОСТ 23216.
									li Хранение изделия должно производиться в упаковке. Рекомендуется осуществлять хранение на стеллажах в крытых, отапливаемых и вентилируемых складских помещениях категории 1 (Л) по ГОСТ 15150. В случае необходимости допускается производить хранение источника в складских помещениях категории 2 (C) с защитой от атмосферных осадков и прямого солнечного излучения
									li Хранение упакованного изделия должно производиться при температуре окружающего воздуха -40 … +40 °С и относительной влажности до 75% (без конденсата). При этом не допускается присутствие в окружающей среде взрывоопасных компонентов, масляных брызг, металлической и токопроводящей пыли, агрессивных паров и газов в концентрациях, способных вызвать коррозию источника или его составных частей.
									li Хранение источника во вскрытой упаковке или без упаковки допускается в помещениях категории 1 (Л) при температуре окружающего воздуха  +10 … +35 °С

								h4.mt-3 Правила транспортирования и хранения блоков аварийного питания
								ul 
									li Транспортирование БАП должно производиться в упаковке изготовителя автомобильным, воздушным, водным или железнодорожным транспортом по правилам перевозок грузов, действующим на транспорте данного вида, без ограничения дальности, количества перегрузок, скорости и высоты полета. Рекомендуемые условия транспортирования изделий должны соответствовать группе С по ГОСТ 23216.
									li Хранение БАП должно производиться в упаковке. Рекомендуется осуществлять хранение на стеллажах в крытых, отапливаемых и вентилируемых складских помещениях категории 1 (Л) по ГОСТ 15150.
									li Хранение упакованных БАП должно производиться при температуре окружающего воздуха +5 … +40 °С и относительной влажности до 75% (без конденсата). При этом не допускается присутствие в окружающей среде взрывоопасных компонентов, масляных брызг, металлической и токопроводящей пыли, агрессивных паров и газов в концентрациях, способных вызвать коррозию БАП или его составных частей.								
									li Хранение БАП во вскрытой упаковке или без упаковки допускается в помещениях категории 1 (Л) при температуре окружающего воздуха +5 … +35 °С.
									li Хранение аккумуляторного блока должно производиться в упаковке производителя. Срок хранения не более 1 года. 


						div.inner-section.py-lg-4.py-2(id="storage_02")
							h3.mt-3 Условия отгрузки
							p Выдача продукции под самовывоз осуществляется по предварительной договорённости с 11:00 до 15:00 в рабочие дни.
							p По желанию заказчика груз может быть отправлен транспортной компанией.
							p.bold Обратите внимание! 
							p.bold Дата на доверенности должна совпадать с датой УПД.

						div.inner-section.py-lg-4.py-2(id="storage_03")
							h3.mt-3 Склад готовой продукции «Трион» 
							p Москва, Алтуфьевское шоссе, дом 37 строение 2, ворота №6
							a(href="tel:+79160718887") +7 (916) 071-88-87
							p Выдача товара под самовывоз осуществляется с 11:00 до 15:00 в рабочие дни
							div.map(id="map" style="width: 100%; height: 500px;margin-top:20px")
	
	include modules/footer
	include modules/sidebar
	include modules/scripts
    
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=37c21097-07b2-45fc-8699-f6a4a618fab8" type="text/javascript")
script(src="js/map.js")